.home{
    height: 100vh;
    background: url(http://ejobu-ews.netlify.com/assets/img/banner/home-banner.jpg) no-repeat center/cover;
    color:$white;
    display: grid;
    place-content: center;

    .hero{
        &__title{
            font-weight: 600;
        }
        &__subtitle{
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    &__link{
        background:$secondary;
        padding:.8rem 3rem;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        color: $white;
        text-transform: uppercase;
        span{
            transform: translateX(-20px);
        }

        .link__overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            background:$white;
            width: 30%;
            color: $dark;
            border-bottom-left-radius: 25px;
            display: grid;
            place-content: center;
        }
    }
}

.services{
    &__item{
        border:1px solid lighten($primary,70%);
        margin-right: 20px;
        padding: 40px 30px 45px;
        box-sizing: border-box;
       &:first-child{
           .services{
               &__icon{
                   &:after{
                       background: #F6A6A6;
                   }
               }
           }
       }
       &:nth-child(2){
           .services{
               &__icon{
                   &:after{
                       background: #71BEB4;
                   }
               }
           }
       }
       &:last-child{
           .services{
               &__icon{
                   &:after{
                       background: #ED92DD;
                   }
               }
           }
       }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        margin:80px auto;
        @media(max-width:768px){
            grid-template-columns: 1fr;
        }
    }
    &__title{
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__desc{
        color:$grey;
        line-height: 27px;
        font-size: 14px;
    }

    &__icon{
        text-align: center;
        width: 170px;
        height: 95px;
        position: relative;
        line-height: 112px;
        &::after{
            content:'';
            position: absolute;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            z-index:-1;
            left: 0;
        }
        &:nth-child(2):after{
            background: $primary;
        }
        i{
            font-size: 30px;
        }
    }
}

.web{
    margin:120px auto;
    &__title{
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 40px;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        grid-gap: 30px;
        @media(max-width:768px){
            grid-template-columns: 1fr;
        }
        
        &--item{
            &:after{
                content:'';
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                right: 0;
                background: url(http://ejobu-ews.netlify.com/assets/img/banner/about1.png) no-repeat center/cover;
                @media(max-width:768px){
                    display: none;
                }
            }
        }
    }

    &__desc{
        color:$grey;
        margin-top: 20px;
    }
}

.mobile{
    background: $primary;
    color: $white;
    padding: 40px;
    margin:80px auto;
    z-index:-2;
    position: relative;

    &__image{
        position: relative;
        width: 100%;
        height: 100%;
        z-index:3;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__heading{
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
        margin:30px auto;
        &--item{
            position: relative;
            &.icon{
                i{
                    font-size: 42px;
                    color:$dark;
                    position: relative;
                    z-index:1;
                    &:after{
                        content:'';
                        position: absolute;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background: $secondary;
                        left: 0;
                        z-index:-1;
                        transform:translate(-15px,-15px);
                    }
                }
            }
        }
        &.next{
            &--item{
                &.icon{
                    background: red;
                    i:after{
                        background: #71BEB4;
                    }
                }
            }
        }
    }
}

.desktop{
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        @media(max-width:768px){
            grid-template-columns: 1fr;
        }

        &--image{
            position: relative;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.work{
    &__grid{
        display: grid;
        grid-gap: 20px;
        &.grid--first{
          grid-template-columns: 2fr 1fr;
          @media(max-width: 768px){
              grid-template-columns: 1fr;
          }
        }

        &.grid--last{
            grid-template-columns: 1fr 2fr;
            @media(max-width: 768px){
                grid-template-columns: 1fr;
            }
        }

        &--item{
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }

        &__more{
            transform: translateY(-20px);
        }
    }

    &__desc{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: rgba($dark,0.5);
        color:$white;
        display: grid;
        place-content: center;

       
    }
}

.desc{
    &__flex{
        margin:auto 10%;
        display: flex;
        justify-content: space-around;
        transform: translateY(150px);

        @media(max-width:768px){
            display: block;
            transform: translateY(20px);
            &--item{
                display: inline-block;
            }
        }

        &.no--transform{
            transform:translateY(20px);
        }

        &--item{
            &:first-child{
                margin-right: 20px;
                color:$secondary;
            }
        }
    }
}

.sponsors{
    margin:80px auto;
    transform: translateY(150px);
    &__grid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 20px;

        &--item{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}