@mixin  easeOut($s) {
    transition: $s ease-out;
}

@mixin ease($s){
    transition: $s ease;
}

@mixin easeIn($s){
    transition: $s ease-in;
}

@mixin easeInOut($s){
    transition: $s ease-in-out;
}

@mixin transDelay($s){
    transition-delay: $s;
}