@import './abstracts/variables';
@import './abstracts/mixins';

@import './components/header';
@import './components/footer';
@import './components/pages/home';
@import './components/pages/portfolio';

body{
    margin: 0;
    padding: 0;
    font-family: $main-font;
}